<ng-container *ngIf="content && content.contentTypeResult == ContentTypeResult.ItemDetails">
    <item-details [item]="content.item" [items]="content.data"></item-details>
</ng-container>
<ng-container *ngIf="content && content.contentTypeResult == ContentTypeResult.Items">
    <items [items]="content.data"></items>
</ng-container>
<ng-container *ngIf="content && content.contentTypeResult == ContentTypeResult.Categories">
    <categories [categories]="content.data"></categories>
</ng-container>
