<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-10 body-content'>
            <div class="jumbotron jumbotron--small-paddings main-color">
                <div class="row">
                    <div class="pull-left">
                        <h1>{{ site.name }}</h1>
                        <h2 class="hidden-xs">{{ site.name2 }}</h2>
                    </div>
                    <div class="pull-right">
                        <div class="well phone-block">
                            <div>
                                <h3><span class="glyphicon glyphicon-phone"></span> {{ site.phone1 }}</h3>
                            </div>
                            <div>
                                <h3><span class="glyphicon glyphicon-phone"></span> {{ site.phone2 }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="spinner" class="spinner hidden"></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
