@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

body {
    color: lightslategray;
}

.spinner {
    font-size: 24px;
    text-align: center;
    padding-top: 150px;
}

.jumbotron--small-paddings {
    padding-bottom: 10px;
    padding-top: 20px;
    padding-right: 0;
}

.phone-block {
    margin-right: 14px;
    padding-left: 60px
}
