<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <div class="jumbotron" style="padding-right: 0;">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h1>ТПК-Гранит</h1>
                        <h2 class="hidden-xs">Тест тест тест тест. Тест тест тест тест.</h2>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="well">
                            <h3 class="col-xs-offset-3"><span class="glyphicon glyphicon-phone"></span> (067) 422 88 22</h3>
                            <h3 class="col-xs-offset-3"><span class="glyphicon glyphicon-phone"></span> (097) 422 88 22</h3>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
