<div class="row" [spinner]="inited">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-sm" (click)="previous()" *ngIf="currentIndex > 0">Назад</button>
                <button class="btn btn-sm" (click)="next()" *ngIf="currentIndex < items.length - 1">Дальше</button>
                <h3 class="main-color">
                    {{ item.title }}
                    <span *ngIf="item.price">- {{ item.price }} {{ CURRENCY }}</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <img style="max-height: 500px" src="{{ item.imgSrc }}" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-6" *ngIf="item.description">
                        <h3>Описание: </h3>
                        <div [trust-html]="item.description" style="word-wrap: break-word;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>