<div class="row">
    <div [ngClass]="{ 'col-md-offset-1': categories.length > 1 }">
        <div [ngClass]="{'col-md-5': categories.length > 1, 'col-md-4': categories.length == 3}" 
             *ngFor="let category of categories">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="col-md-12">
                        <a [routerLink]="['/content', category.id]">
                            <img class="img-rounded" style="height: 200px; max-width: 280px" src="{{ category.imgSrc }}" align="middle" />
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body text-center">
                    <a [routerLink]="['/content', category.id]">
                        <h4>{{ category.title }}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>